<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.reactnative.pgyer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />  <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="PGYER_APPID"
            android:value="7018b92562835ec4ed4c94be870d78f6" >
        </meta-data>
    </application>

</manifest>
